.styled {
     display:inline-flex;
     justify-content:center; 
     align-items:center;
     position: relative;
     width: 800px;
     height:500px;
     background:#9b4dca;
     color:#fff;
     font-size: 120px;
     border-radius:30px;
     border: none;
    text-decoration:none;
    
}
.container { 
    height: 900px;
    position: relative;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }